.chats-page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.login-card {
    position: relative;
    top: calc(50vh - 144px);
    left: calc(50vw - 210px);
    padding-top: 36px;
    padding-bottom: 66px;
    width: 420px;
    text-align: center;
    background-color: white;
    border-radius: 22px;
}